[Oo]bj
[Bb]in
[Tt]estResults
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
/sBlog.NET.SQL/sBlog.NET.SQL.jfm
/sBlog.NET.SQL/sBlog.NET.SQL.dbmdl
